html, body {
    width: 100%;
}

/*
div#login {
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f1ffe3;
    padding: 20px;
}
*/
