{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <p><a href="{% url "show_domain" client.domain.name %}">&larr; Back</a></p>
    </div>
    <div class="col-sm-12">
        <h1>Delete dynamic entry {{ client.fqdn }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Details</h4>
        <form class="form-horizontal" action="{% url "delete_dyndns" client.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group {% if form.confirm.errors %}has-error has-feedback{% endif %}">
                <label class="col-sm-2 control-label" for="confirm">Confirm delete {% if form.confirm.errors %}, {% for error in form.confirm.errors %} {{ error }}{% endfor %}{% endif %}</label>
                <div class="col-sm-10">
                     <input type="checkbox" class="form-control" name="confirmed" id="confirmed">
                </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Delete</button>
              </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}