{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="jumbotron">
        <h1>DNS manager!</h1>
        <p>Stateless DNS manager with support for DynDNS-clients.</p>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
    <h2>
        Domains
    </h2>
    {% if domains %}
    <table class="table table-condensed">
        <tr>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    {% for domain in domains %}
        <tr>
            <td>
                <a href="{% url "show_domain" domain.name %}">{{ domain.name }}</a>
            </td>
            <td>
                <a href="{% url "show_domain" domain.name %}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No domains, add one!</p>
    {% endif %}
    <p><a href="{% url "add_domain" %}">Add domain</a></p>
    </div>
</div>

{% endblock %}