{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <p><a href="{% url "index" %}">&larr; Back</a></p>
    </div>
    <div class="col-sm-12">
        <h1>Domain {{domain.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
       <p><a href="{% url "edit_domain" domain.name %}" role="button" class="btn btn-default">Edit domain details</a></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>
            Dynamic clients
        </h3>
        <table class="table table-striped">
            <tr>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
        {% for client in domain.client_set.all %}
            <tr>
                <td>
                    <a href="{% url "edit_dyndns" client.pk %}">{{ client.fqdn }}</a>
                </td>
                <td>
                    <a href="{% url "edit_dyndns" client.pk %}">edit</a>
                    <a href="{% url "delete_dyndns" client.pk %}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
        {% if not domain.client_set.all %}
        <p>No clients yet, add one!</p>
        {% endif %}
        <p><a href="{% url "add_dyndns" domain.name %}" role="button" class="btn btn-primary">Add new client</a></p>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h3>
            Static DNS records (<a href="{% url "sync_domain" domain.name %}" title="Sync DNS-records from DNS-server">sync</a>)
        </h3>
        <table class="table table-striped">
            <tr>
            <th>
                Name
            </th>
            <th>
                TTL
            </th>
            <th>
                Type
            </th>
            <th>
                Data
            </th>
            <th>
                Actions
            </th>
        </tr>
        {% for entry in static_entries %}
            <tr>
                <td>
                    <a href="{% url "edit_static" entry.domain.fqdn entry.pk %}">{{ entry.fqdn }}</a>
                </td>
                <td>
                    {{ entry.ttl }}
                </td>
                <td>
                    {{ entry.type }}
                </td>
                <td>
                    {{ entry.data }}
                </td>
                <td>
                    <a href="{% url "edit_static" entry.domain.fqdn entry.pk %}" role="button" class="btn btn-sm btn-primary">edit</a>
                    <a href="{% url "delete_static" entry.domain.fqdn entry.pk %}" role="button" class="btn btn-sm btn-danger">delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
        {% if not static_entries %}
        <p>No records yet, add one!</p>
        {% endif %}
        <p><a href="{% url "add_static" domain.name %}" role="button" class="btn btn-primary">Add new record</a></p>
     </div>
</div>


{% endblock %}